<h1><%= t('editing_realestate') %></h1>

<%= render 'form', realestate: @realestate %>

<%= link_to t('show'), @realestate, class: "btn btn-secondary" %>
<%= link_to t('back'), :back, class: "btn btn-secondary" %>