<h1 class="title form-title"><%= t('editing_realestate') %></h1>

<div class="form-buttons">
	<%= link_to t('show'), @realestate, class: "btn btn-secondary" %>
	<%= link_to t('back'), :back, class: "btn btn-secondary" %>
</div>

<%= render 'form', realestate: @realestate %>